body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    padding: 20px;
}
h1 {
    color: #b58900;
    margin-bottom: 20px;
}
h2 {
    color: #cb4b16;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 10px;
}
h3 {
    color: #cb4b16;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    line-height: 1.6;
}

div>p:nth-child(3) {
    font-style: italic;
    color:rgb(22, 21, 21);
}