body {
    font-family: 'Courier New', Courier, monospace;
    color: #2e2822;
    background-color: #f9f3e9;
    padding: 0;
    margin:0;
    margin-left: 5vw;
    text-align: center;
    width: 90vw;
    display: flex;
    flex-direction: column;
}


h1 {
    margin-bottom: 0;
    font-family: 'Carattere';
}

h3 {
    margin-bottom: 0;
    font-family: 'Carattere';
}

.quote {
    margin-left: 5%;
    margin-right: 5%;
}

.wine {
    font-style: italic;
    color: #5a5147;
}

.back {
    font-style: italic;
    text-decoration: none;
    font-family: 'Carattere';
    display: block;
    padding: 3vh;
}



/* Ornamenti e decorazioni */
.decor1 {
    background-image: url('deco1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 50px;
}
.decor2 {
    transform: rotate(3.142rad);
    background-image: url('deco2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 50px;
}

