body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    padding: 20px;
}
h1 {
    color: #b58900;
    margin-bottom: 20px;
}
h2 {
    color: #cb4b16;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 10px;
}
h3 {
    color: #cb4b16;
    margin-top: 40px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    line-height: 1.6;
}

h4{
    margin-top: 10px;
    margin-bottom: 10px;  
}
h4 a {
  text-decoration: none;
  font-size: 24px;
  color: #1d0460;
}
.wine{
    font-size: 16px;
    font-style: italic;
    color:rgb(32, 10, 10);
}

.quote {
    font-style: italic;
}

a.back {
    text-decoration: none;
    font-size: 18px;
    padding: 40px 40px 40px 40px;
    color: #1d0460;
    display: block;
}

p.nb {
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}

